﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CounterPage.aspx.cs" Inherits="CounterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
         <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
         <asp:TextBox ID="TextBox3" runat="server" ></asp:TextBox>
        <input id="hidden_data" hidden="hidden"/>
        <br />
        <asp:Button ID="ButtonCounter" runat="server" Text="Counter" OnClick="Button1_Click" />
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
