﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Target.aspx.cs" Inherits="pageNavigation_Target" %>
<%@ PreviousPageType VirtualPath="~/pageNavigation/Source.aspx" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:Calendar ID="Calendar1" runat="server"></asp:Calendar>

        <asp:TextBox ID="TextBox1" runat="server" Width="100%" TextMode="MultiLine" Rows="10"></asp:TextBox>
    </div>
    </form>
</body>
</html>
